.alignment-box {
  display: flex;
}

.horizontal {
  flex-direction: row;
}

.vertical {
  flex-direction: column;
}

.center-center {
  justify-content: center;
  align-items: center;
  text-align: center;
}

.center-left {
  justify-content: flex-start;
  align-items: center;
}

.center-right {
  justify-content: flex-end;
  align-items: center;
}

.top-left {
  justify-content: flex-start;
}
.top-right {
  justify-content: flex-end;
}
.top-center {
  justify-content: center;
}

.bottom-left {
  justify-content: flex-start;
  align-items: flex-end;
}
.bottom-right {
  justify-content: flex-end;
  align-items: flex-end;
}
.bottom-center {
  justify-content: center;
  align-items: flex-end;
}

.space-between {
  justify-content: space-between;
  align-items: center;
}